### Saving the work


*Purpose: This notebook breaks down step-by-step a simple wrangling approach to creating a training data of 50,000 records (data is already pre-recorded randomly in original raw csv) for your single year (i.e. 2013, 2015, and 2017)*.

Documentation:  
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html  
https://stackoverflow.com/questions/23103962/how-to-write-dataframe-to-postgres-table                    
https://github.com/metabase/metabase/issues/7214  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

In [1]:
# Importing Libraries.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

import os
import psycopg2
import pandas.io.sql as psql
import sqlalchemy
from sqlalchemy import create_engine

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from scipy import stats
from pylab import*
from matplotlib.ticker import LogLocator

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [13]:
# Creating a new engine to specify the "reporting_user" permissions
postgres_host = 'REDACT'  
postgres_port = '5432' 
postgres_username = 'reporting_user'
postgres_password = 'REDACT'
postgres_dbname = "paddle_loan_canoe"
postgres_str = ('postgresql://{username}:{password}@{host}:{port}/{dbname}'
                .format(username = postgres_username,
                        password = postgres_password,
                        host = postgres_host,
                        port = postgres_port,
                        dbname = postgres_dbname)
               )

# Creating another engine that connects to teammate's AWS
postgres_host2 = 'database-1.cogr19hev0gd.us-east-2.rds.amazonaws.com'  
postgres_port2 = '5432' 
postgres_username2 = 'REDACT' 
postgres_password2 = 'REDACT'
postgres_dbname2 = "postgres"
postgres_str2 = ('postgresql://{username}:{password}@{host}:{port}/{dbname}'
                .format(username = postgres_username2,
                        password = postgres_password2,
                        host = postgres_host2,
                        port = postgres_port2,
                        dbname = postgres_dbname2)
               )


# Creating the connection.
cnx = create_engine(postgres_str)


# Creating the connections.
cnx2 = create_engine(postgres_str2)

In [4]:
#  Reading YOUR HMDA YEAR (this case below is for 2013 -- a single year) dataset; join population and education datasets appropriately for YOUR YEAR 
#  for the first 25,000 rows -- as a dataframe using pandas: df.

df = pd.read_sql_query ('''SELECT
                              --> a. main: casting a few key MORTGAGE data fields:
                                   CAST(us13.action_taken_name As varchar(56)) As outcome, us13.as_of_year As year,
                                   CAST(denial_reason_name_1 As varchar(56)) dn_reason1 , CAST(us13.agency_name As varchar(56)) As agency,
                                   CAST(us13.state_name As varchar(28)) As state,         CAST(us13.county_name As varchar(56)) As county,
                                   CAST(us13.loan_type_name As varchar(56)) As ln_type,   CAST(us13.loan_purpose_name As varchar(56)) As ln_purp,
                                   us13.loan_amount_000s As ln_amt_000s, us13.hud_median_family_income As hud_med_fm_inc, population as pop,

                                       --two embedded fuctions and one CASE below: assigns hierarchy in CASE, and converts to num in two steps
                                   CAST ( CAST ( CASE
                                                     WHEN us13.rate_spread = '' Then '0'
                                                     ELSE us13.rate_spread
                                                 END As varchar(5)
                                               ) As numeric
                                        )
                                   As rt_spread,
                                       --categorize loan application outcome into two buckets: "Approved", "Denied, Not Accepted, or Withdrawn"
                                   CASE
                                       WHEN us13.action_taken_name In ('Loan originated', 'Loan purchased by the institution')
                                           THEN 'Approved or Loan Purchased by the Institution'
                                       ELSE 'Denied, Not Accepted, or Withdrawn'
                                   END outcome_bucket,
                              --*
                              --> b. macro-econ: casting and joining a few key EDUCATION data fields:
                                   CAST(educ17."Perc_adults w_less than a HS diploma_2013-17" As int)  As prc_blw_HS__2013_17_5yrAvg,
                                   CAST(educ17."Perc_adults w_ HS diploma only_2013-17" As int)        As prc_HS__2013_17_5yrAvg,
                                   CAST(educ17."Perc_adults w_BA deg or higher_2013-17" As int)        As prc_BA_plus__2013_17_5yrAvg,
                              --*
                              --> c. macro-econ: casting and joining a few key POPULATION data fields:
                                   CAST(pop13.r_birth_2013 AS INT)                                     As r_birth_2013,
                                   CAST(pop13.r_international_mig_2013 AS INT)                         As r_intl_mig_2013,
                                   CAST(pop13.r_natural_inc_2013 AS INT)                               As r_natural_inc_2013
                              --*
                           FROM usa_mortgage_market.hmda_lar_2013 us13
                           LEFT OUTER JOIN v__macro_economic_indicators.education__acs_1970_to_2017_5yravgs educ17
                                   ON us13.county_name = educ17."Area name"
                           LEFT OUTER JOIN v__macro_economic_indicators.populationestimates__usda_ers_2010_to_2018 pop13
                                   ON us13.county_name = pop13.area_name
                           LIMIT 25000''', cnx)

# Using pandas to view the first 5 rows (NB: why does it start at 0?).
df.head(5)

,outcome,year,dn_reason1,agency,state,county,ln_type,ln_purp,ln_amt_000s,hud_med_fm_inc,pop,rt_spread,outcome_bucket,prc_blw_hs__2013_17_5yravg,prc_hs__2013_17_5yravg,prc_ba_plus__2013_17_5yravg,r_birth_2013,r_intl_mig_2013,r_natural_inc_2013
0,Application denied by financial institution,2013,Collateral,Department of Housing and Urban Development,Michigan,Oakland County,FHA-insured,Refinancing,83,72400,3094,0.0,"Denied, Not Accepted, or Withdrawn",6,19,46,NaN,NaN,NaN
1,Loan purchased by the institution,2013,,Consumer Financial Protection Bureau,Wyoming,Laramie County,VA-guaranteed,Home purchase,267,66300,4182,0.0,Approved or Loan Purchased by the Institution,7,25,29,NaN,NaN,NaN
2,File closed for incompleteness,2013,,Department of Housing and Urban Development,Minnesota,Hennepin County,FHA-insured,Home purchase,88,82300,2940,0.0,"Denied, Not Accepted, or Withdrawn",7,17,48,NaN,NaN,NaN
3,Loan purchased by the institution,2013,,Consumer Financial Protection Bureau,Ohio,Franklin County,FHA-insured,Home purchase,78,67900,4918,0.0,Approved or Loan Purchased by the Institution,26,27,16,9.0,0.0,0.0
4,Loan purchased by the institution,2013,,Consumer Financial Protection Bureau,Ohio,Franklin County,FHA-insured,Home purchase,78,67900,4918,0.0,Approved or Loan Purchased by the Institution,14,33,21,9.0,0.0,0.0

In [5]:
# Using PostgreSQL to count and group by the merged "r_" variables to see null values with "" appearing as INT
df_test = pd.read_sql_query ('''WITH count_r_vars AS 
                                ( SELECT 
                              
                                   CAST(us13.action_taken_name As varchar(56)) As outcome, us13.as_of_year As year,
                                   CAST(denial_reason_name_1 As varchar(56)) dn_reason1 , CAST(us13.agency_name As varchar(56)) As agency,
                                   CAST(us13.state_name As varchar(28)) As state,         CAST(us13.county_name As varchar(56)) As county,
                                   CAST(educ17."Perc_adults w_less than a HS diploma_2013-17" As int)  As prc_blw_HS__2013_17_5yrAvg,
                                   CAST(educ17."Perc_adults w_ HS diploma only_2013-17" As int)        As prc_HS__2013_17_5yrAvg,
                                   CAST(educ17."Perc_adults w_BA deg or higher_2013-17" As int)        As prc_BA_plus__2013_17_5yrAvg,
                                   CAST(pop13.r_birth_2013 AS INT)                                     As r_birth_2013,
                                   CAST(pop13.r_international_mig_2013 AS INT)                         As r_intl_mig_2013,
                                   CAST(pop13.r_natural_inc_2013 AS INT)                               As r_natural_inc_2013


                                   FROM usa_mortgage_market.hmda_lar_2013 us13
                                   LEFT OUTER JOIN v__macro_economic_indicators.education__acs_1970_to_2017_5yravgs educ17
                                           ON us13.county_name = educ17."Area name"
                                   LEFT OUTER JOIN v__macro_economic_indicators.populationestimates__usda_ers_2010_to_2018 pop13
                                           ON us13.county_name = pop13.area_name
                                   LIMIT 25000
                                ) 
                                SELECT 'r_birth_2013' As r_var__nm, COUNT(*) As null_counts FROM count_r_vars WHERE r_birth_2013 IS NULL
                                    UNION ALL
                                SELECT 'r_intl_mig_2013' As r_var__nm, COUNT(*) As null_counts  FROM count_r_vars WHERE r_birth_2013 IS NULL
                                    UNION ALL
                                SELECT 'r_nat_inc_2013' As r_var_nm, COUNT(*) As null_counts FROM count_r_vars WHERE r_natural_inc_2013 IS NULL
                                '''           
                             , cnx)
df_test.head()

         r_var__nm  null_counts
0     r_birth_2013          665
1  r_intl_mig_2013          665
2   r_nat_inc_2013          665

---

In [6]:
# Limit your prelimary analysis to just loan applications for $700K or less

df2 = df[df.ln_amt_000s < 700]

Note (For the years from 2013-2017): Since the ``` > $100K``` median household incomes appear to be outliers, we'll replace them with ```= $91K```, since it is the top of the upper wishker and therefore falls within the last quartile. Note, this is for preliminary modeling only and could not "standardized" so simply in our final model.

In [7]:
df3 = df2.dropna(subset=['r_natural_inc_2013', 'r_birth_2013', 'r_intl_mig_2013'])

In [8]:
df3_dtype = {'outcome': sqlalchemy.types.VARCHAR(length=56),        'year':  sqlalchemy.types.INTEGER(),
             'dn_reason1': sqlalchemy.types.VARCHAR(length=56),     'agency': sqlalchemy.types.VARCHAR(length=56), 
             'state': sqlalchemy.types.VARCHAR(length=28),          'county': sqlalchemy.types.VARCHAR(length=56), 
             'ln_type': sqlalchemy.types.VARCHAR(length=56),        'ln_purp': sqlalchemy.types.VARCHAR(length=56),
             'ln_amt_000s': sqlalchemy.types.INTEGER(),             'hud_med_fm_inc': sqlalchemy.types.INTEGER(),
             'pop': sqlalchemy.types.INTEGER(),                     'rt_spread': sqlalchemy.types.NUMERIC(),
             'outcome_bucket': sqlalchemy.types.VARCHAR(length=56), 'prc_blw_HS__2013_17_5yrAvg': sqlalchemy.types.INTEGER(),
             'prc_HS__2013_17_5yrAvg': sqlalchemy.types.INTEGER(),  'prc_BA_plus__2013_17_5yrAvg': sqlalchemy.types.INTEGER(),
             'r_birth_2013': sqlalchemy.types.INTEGER(),            'r_intl_mig_2013': sqlalchemy.types.INTEGER(),
             'r_natural_inc_2013': sqlalchemy.types.INTEGER()
            }

In [19]:
# Using pandas to write Dataframe to PostgreSQL and replacing table if it already exists
df3.to_sql(name='loans_2013__training', schema='aa_testing', chunksize=250,
           dtype= df3_dtype, method=None, con=cnx2, if_exists='replace', index=False)

In [25]:
# Check to see the training data has been written
df_check = psql.read_sql_query('Select * FROM aa_testing.loans_2013__training', cnx2)
df_check.info

<bound method DataFrame.info of                                      outcome  year dn_reason1  \
0          Loan purchased by the institution  2013
1          Loan purchased by the institution  2013
2          Loan purchased by the institution  2013
3          Loan purchased by the institution  2013
4          Loan purchased by the institution  2013
5          Loan purchased by the institution  2013
6          Loan purchased by the institution  2013
7          Loan purchased by the institution  2013
8          Loan purchased by the institution  2013
9          Loan purchased by the institution  2013
10         Loan purchased by the institution  2013
11         Loan purchased by the institution  2013
12         Loan purchased by the institution  2013
13         Loan purchased by the institution  2013
14         Loan purchased by the institution  2013
15         Loan purchased by the institution  2013
16         Loan purchased by the institution  2013
17         Loan purchased by the institution  2013
18         Loan purchased by the institution  2013
19         Loan purchased by the institution  2013
20         Loan purchased by the institution  2013
21         Loan purchased by the institution  2013
22         Loan purchased by the institution  2013
23         Loan purchased by the institution  2013
24         Loan purchased by the institution  2013
25         Loan purchased by the institution  2013
26         Loan purchased by the institution  2013
27         Loan purchased by the institution  2013
28         Loan purchased by the institution  2013
29         Loan purchased by the institution  2013
...                                      ...   ...        ...
24751                        Loan originated  2013
24752                        Loan originated  2013
24753                        Loan originated  2013
24754                        Loan originated  2013
24755                        Loan originated  2013
24756                        Loan originated  2013
24757  Application approved but not accepted  2013
24758  Application approved but not accepted  2013
24759  Application approved but not accepted  2013
24760  Application approved but not accepted  2013
24761  Application approved but not accepted  2013
24762  Application approved but not accepted  2013
24763  Application approved but not accepted  2013
24764  Application approved but not accepted  2013
24765  Application approved but not accepted  2013
24766  Application approved but not accepted  2013
24767  Application approved but not accepted  2013
24768  Application approved but not accepted  2013
24769  Application approved but not accepted  2013
24770  Application approved but not accepted  2013
24771  Application approved but not accepted  2013
24772  Application approved but not accepted  2013
24773  Application approved but not accepted  2013
24774  Application approved but not accepted  2013
24775  Application approved but not accepted  2013
24776  Application approved but not accepted  2013
24777  Application approved but not accepted  2013
24778  Application approved but not accepted  2013
24779  Application approved but not accepted  2013
24780  Application approved but not accepted  2013

                                            agency       state  \
0             Consumer Financial Protection Bureau        Ohio
1             Consumer Financial Protection Bureau        Ohio
2             Consumer Financial Protection Bureau        Ohio
3             Consumer Financial Protection Bureau        Ohio
4             Consumer Financial Protection Bureau        Ohio
5             Consumer Financial Protection Bureau        Ohio
6             Consumer Financial Protection Bureau        Ohio
7             Consumer Financial Protection Bureau        Ohio
8             Consumer Financial Protection Bureau        Ohio
9             Consumer Financial Protection Bureau        Ohio
10            Consumer Financial Protection Bureau        Ohio
11            Consumer Financial Protection Bureau        Ohio
12            Consumer Financial Protection Bureau        Ohio
13            Consumer Financial Protection Bureau        Ohio
14            Consumer Financial Protection Bureau        Ohio
15            Consumer Financial Protection Bureau        Ohio
16            Consumer Financial Protection Bureau        Ohio
17            Consumer Financial Protection Bureau        Ohio
18            Consumer Financial Protection Bureau        Ohio
19            Consumer Financial Protection Bureau        Ohio
20            Consumer Financial Protection Bureau        Ohio
21            Consumer Financial Protection Bureau        Ohio
22            Consumer Financial Protection Bureau        Ohio
23            Consumer Financial Protection Bureau        Ohio
24            Consumer Financial Protection Bureau        Ohio
25            Consumer Financial Protection Bureau        Ohio
26            Consumer Financial Protection Bureau        Ohio
27            Consumer Financial Protection Bureau        Ohio
28            Consumer Financial Protection Bureau        Ohio
29            Consumer Financial Protection Bureau        Ohio
...                                            ...         ...
24751    Office of the Comptroller of the Currency        Ohio
24752    Office of the Comptroller of the Currency        Ohio
24753    Office of the Comptroller of the Currency        Ohio
24754    Office of the Comptroller of the Currency        Ohio
24755  Department of Housing and Urban Development  Washington
24756  Department of Housing and Urban Development  Washington
24757         Consumer Financial Protection Bureau      Nevada
24758         Consumer Financial Protection Bureau      Nevada
24759         Consumer Financial Protection Bureau      Nevada
24760         Consumer Financial Protection Bureau      Nevada
24761         Consumer Financial Protection Bureau      Nevada
24762         Consumer Financial Protection Bureau      Nevada
24763         Consumer Financial Protection Bureau      Nevada
24764         Consumer Financial Protection Bureau      Nevada
24765         Consumer Financial Protection Bureau      Nevada
24766         Consumer Financial Protection Bureau      Nevada
24767         Consumer Financial Protection Bureau      Nevada
24768         Consumer Financial Protection Bureau      Nevada
24769         Consumer Financial Protection Bureau      Nevada
24770         Consumer Financial Protection Bureau      Nevada
24771         Consumer Financial Protection Bureau      Nevada
24772         Consumer Financial Protection Bureau      Nevada
24773         Consumer Financial Protection Bureau      Nevada
24774         Consumer Financial Protection Bureau      Nevada
24775         Consumer Financial Protection Bureau      Nevada
24776         Consumer Financial Protection Bureau      Nevada
24777         Consumer Financial Protection Bureau      Nevada
24778         Consumer Financial Protection Bureau      Nevada
24779         Consumer Financial Protection Bureau      Nevada
24780         Consumer Financial Protection Bureau      Nevada

                county       ln_type        ln_purp  ln_amt_000s  \
0      Franklin County   FHA-insured  Home purchase           78
1      Franklin County   FHA-insured  Home purchase           78
2      Franklin County   FHA-insured  Home purchase           78
3      Franklin County   FHA-insured  Home purchase           78
4      Franklin County   FHA-insured  Home purchase           78
5      Franklin County   FHA-insured  Home purchase           78
6      Franklin County   FHA-insured  Home purchase           78
7      Franklin County   FHA-insured  Home purchase           78
8      Franklin County   FHA-insured  Home purchase           78
9      Franklin County   FHA-insured  Home purchase           78
10     Franklin County   FHA-insured  Home purchase           78
11     Franklin County   FHA-insured  Home purchase           78
12     Franklin County   FHA-insured  Home purchase           78
13     Franklin County   FHA-insured  Home purchase           78
14     Franklin County   FHA-insured  Home purchase           78
15     Franklin County   FHA-insured  Home purchase           78
16     Franklin County   FHA-insured  Home purchase           78
17     Franklin County   FHA-insured  Home purchase           78
18     Franklin County   FHA-insured  Home purchase           78
19     Franklin County   FHA-insured  Home purchase           78
20     Franklin County   FHA-insured  Home purchase           78
21     Franklin County   FHA-insured  Home purchase           78
22     Franklin County   FHA-insured  Home purchase           78
23     Franklin County   FHA-insured  Home purchase           78
24     Franklin County   FHA-insured  Home purchase           78
25     Franklin County   FHA-insured  Home purchase           78
26     Franklin County   FHA-insured  Home purchase           78
27     Franklin County   FHA-insured  Home purchase           78
28     Franklin County   FHA-insured  Home purchase           78
29     Franklin County   FHA-insured  Home purchase           78
...                ...           ...            ...          ...
24751  Hamilton County  Conventional  Home purchase           80
24752  Hamilton County  Conventional  Home purchase           80
24753  Hamilton County  Conventional  Home purchase           80
24754  Hamilton County  Conventional  Home purchase           80
24755      King County  Conventional  Home purchase           99
24756      King County  Conventional  Home purchase           99
24757     Clark County  Conventional    Refinancing          198
24758     Clark County  Conventional    Refinancing          198
24759     Clark County  Conventional    Refinancing          198
24760     Clark County  Conventional    Refinancing          198
24761     Clark County  Conventional    Refinancing          198
24762     Clark County  Conventional    Refinancing          198
24763     Clark County  Conventional    Refinancing          198
24764     Clark County  Conventional    Refinancing          198
24765     Clark County  Conventional    Refinancing          198
24766     Clark County  Conventional    Refinancing          198
24767     Clark County  Conventional    Refinancing          198
24768     Clark County  Conventional    Refinancing          198
24769     Clark County  Conventional    Refinancing          198
24770     Clark County  Conventional    Refinancing          198
24771     Clark County  Conventional    Refinancing          198
24772     Clark County  Conventional    Refinancing          198
24773     Clark County  Conventional    Refinancing          198
24774     Clark County  Conventional    Refinancing          198
24775     Clark County  Conventional    Refinancing          198
24776     Clark County  Conventional    Refinancing          198
24777     Clark County  Conventional    Refinancing          198
24778     Clark County  Conventional    Refinancing          198
24779     Clark County  Conventional    Refinancing          198
24780     Clark County  Conventional    Refinancing          198

       hud_med_fm_inc   pop  rt_spread  \
0               67900  4918        0.0
1               67900  4918        0.0
2               67900  4918        0.0
3               67900  4918        0.0
4               67900  4918        0.0
5               67900  4918        0.0
6               67900  4918        0.0
7               67900  4918        0.0
8               67900  4918        0.0
9               67900  4918        0.0
10              67900  4918        0.0
11              67900  4918        0.0
12              67900  4918        0.0
13              67900  4918        0.0
14              67900  4918        0.0
15              67900  4918        0.0
16              67900  4918        0.0
17              67900  4918        0.0
18              67900  4918        0.0
19              67900  4918        0.0
20              67900  4918        0.0
21              67900  4918        0.0
22              67900  4918        0.0
23              67900  4918        0.0
24              67900  4918        0.0
25              67900  4918        0.0
26              67900  4918        0.0
27              67900  4918        0.0
28              67900  4918        0.0
29              67900  4918        0.0
...               ...   ...        ...
24751           68700  4187        0.0
24752           68700  4187        0.0
24753           68700  4187        0.0
24754           68700  4187        0.0
24755           86700  7936        0.0
24756           86700  7936        0.0
24757           63100  1547        0.0
24758           63100  1547        0.0
24759           63100  1547        0.0
24760           63100  1547        0.0
24761           63100  1547        0.0
24762           63100  1547        0.0
24763           63100  1547        0.0
24764           63100  1547        0.0
24765           63100  1547        0.0
24766           63100  1547        0.0
24767           63100  1547        0.0
24768           63100  1547        0.0
24769           63100  1547        0.0
24770           63100  1547        0.0
24771           63100  1547        0.0
24772           63100  1547        0.0
24773           63100  1547        0.0
24774           63100  1547        0.0
24775           63100  1547        0.0
24776           63100  1547        0.0
24777           63100  1547        0.0
24778           63100  1547        0.0
24779           63100  1547        0.0
24780           63100  1547        0.0

                                      outcome_bucket  \
0      Approved or Loan Purchased by the Institution
1      Approved or Loan Purchased by the Institution
2      Approved or Loan Purchased by the Institution
3      Approved or Loan Purchased by the Institution
4      Approved or Loan Purchased by the Institution
5      Approved or Loan Purchased by the Institution
6      Approved or Loan Purchased by the Institution
7      Approved or Loan Purchased by the Institution
8      Approved or Loan Purchased by the Institution
9      Approved or Loan Purchased by the Institution
10     Approved or Loan Purchased by the Institution
11     Approved or Loan Purchased by the Institution
12     Approved or Loan Purchased by the Institution
13     Approved or Loan Purchased by the Institution
14     Approved or Loan Purchased by the Institution
15     Approved or Loan Purchased by the Institution
16     Approved or Loan Purchased by the Institution
17     Approved or Loan Purchased by the Institution
18     Approved or Loan Purchased by the Institution
19     Approved or Loan Purchased by the Institution
20     Approved or Loan Purchased by the Institution
21     Approved or Loan Purchased by the Institution
22     Approved or Loan Purchased by the Institution
23     Approved or Loan Purchased by the Institution
24     Approved or Loan Purchased by the Institution
25     Approved or Loan Purchased by the Institution
26     Approved or Loan Purchased by the Institution
27     Approved or Loan Purchased by the Institution
28     Approved or Loan Purchased by the Institution
29     Approved or Loan Purchased by the Institution
...                                              ...
24751  Approved or Loan Purchased by the Institution
24752  Approved or Loan Purchased by the Institution
24753  Approved or Loan Purchased by the Institution
24754  Approved or Loan Purchased by the Institution
24755  Approved or Loan Purchased by the Institution
24756  Approved or Loan Purchased by the Institution
24757             Denied, Not Accepted, or Withdrawn
24758             Denied, Not Accepted, or Withdrawn
24759             Denied, Not Accepted, or Withdrawn
24760             Denied, Not Accepted, or Withdrawn
24761             Denied, Not Accepted, or Withdrawn
24762             Denied, Not Accepted, or Withdrawn
24763             Denied, Not Accepted, or Withdrawn
24764             Denied, Not Accepted, or Withdrawn
24765             Denied, Not Accepted, or Withdrawn
24766             Denied, Not Accepted, or Withdrawn
24767             Denied, Not Accepted, or Withdrawn
24768             Denied, Not Accepted, or Withdrawn
24769             Denied, Not Accepted, or Withdrawn
24770             Denied, Not Accepted, or Withdrawn
24771             Denied, Not Accepted, or Withdrawn
24772             Denied, Not Accepted, or Withdrawn
24773             Denied, Not Accepted, or Withdrawn
24774             Denied, Not Accepted, or Withdrawn
24775             Denied, Not Accepted, or Withdrawn
24776             Denied, Not Accepted, or Withdrawn
24777             Denied, Not Accepted, or Withdrawn
24778             Denied, Not Accepted, or Withdrawn
24779             Denied, Not Accepted, or Withdrawn
24780             Denied, Not Accepted, or Withdrawn

       prc_blw_hs__2013_17_5yravg  prc_hs__2013_17_5yravg  \
0                              26                      27
1                              14                      33
2                               9                      37
3                              13                      32
4                              14                      39
5                              13                      42
6                               9                      25
7                              16                      30
8                              14                      37
9                               8                      34
10                             12                      33
11                             16                      38
12                              7                      28
13                              8                      37
14                             13                      31
15                              8                      37
16                             11                      37
17                             12                      43
18                             13                      32
19                              9                      33
20                             23                      39
21                             19                      37
22                             19                      40
23                             24                      38
24                             26                      27
25                             14                      33
26                              9                      37
27                             13                      32
28                             14                      39
29                             13                      42
...                           ...                     ...
24751                           7                      31
24752                           4                      15
24753                          10                      37
24754                          25                      41
24755                           7                      16
24756                          20                      33
24757                          18                      43
24758                           8                      25
24759                           9                      41
24760                          13                      37
24761                          15                      29
24762                          15                      44
24763                          14                      35
24764                           7                      27
24765                          12                      35
24766                           9                      38
24767                          29                      28
24768                          12                      32
24769                          18                      43
24770                           8                      25
24771                           9                      41